.trail-card-container {
    margin: 60px 20px 0 20px;
    color: white;
}

.card-title,
.trail-button {
    display: flex;
    justify-content: center;
}

.trails-title {
    display: flex;
    align-items: center;
}


