{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trails/css/trails.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-contaier">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="row row-cols-1 row-cols-md-3 trail-card-container">
    <div class="col mb-4">
      <div class="card h-100 green-background">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-info trail-button">View Details</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  